<?xml version="1.0" encoding="utf-8"?>

<configuration>
	
	<appSettings>
		<add key="TargetDir" value=""/>
		<add key="UserName" value=""/>
		<add key="ServerIP" value="[::1]"/>
		<add key="Port" value="4999"/>
		<add key="Salt" value="Starry"/>
	</appSettings>
	
	<startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
	</startup>

	<runtime>
		<gcAllowVeryLargeObjects enabled="true" />
	</runtime>
	
</configuration>
